# Ignorar carpetas de build
bin/
obj/

# Ignorar archivos temporales y de usuario
*.user
*.suo

# Visual Studio folder
.vs/

# Publicaciones
wwwroot/

# Carpeta de migraciones de Entity Framework
Migrations/

# Archivos de configuración que no deben subirse
appsettings.json